<!DOCTYPE html>
<html lang="en">
<head>
  <center>
  <h1>EDIT</h1></center>
  <title>EDIT</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
.form-control
{
width:500px;

}






.button {
  background-color:blue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left:16px
}

</style>


</style>
</head>

<body>
<div class="container">
<label>Username</label>
</div>

<div class="container">
<label>Type</label>
</div>



<div class="container">
<label> Address</label>
</div>



<div class="container">
<label>Phone Number</label>
</div>





<a href="update.html"><button class="btn btn-default button" onclick="myFunction1()">edit</button></a>

<button class="btn btn-default button" onclick="myFunction2()">Delete</button>
<script>
function myFunction2() {
 
  if (confirm("are you sure?")) {
    alert(" successfully Deleted");
  } 
  
}
</script>



</div>

</body>